<p>Hey there <%= @user.first_name %>,</p>
	
<p>We hear you would like to reset your password.</p>

<p>In order to do this, just click the following link:</p>

<p><%= @url %>.</p>

<p>If you didn't mean to do this please ignore this email.</p>

<p>Have a great day!</p>

<p>Biblio</p>



