
<h3>Followers</h3>

<div class="user-list">
	<a href="<%= following_user_path(@user) %>">
	<strong id="following-list">
		<% @user.followers.map do |user| %>
		<ul>
			<p><%= link_to user.username, user_url(user) %> | <%= user.first_name %> <%= user.last_name %></p>
		</ul>
		<% end %>
	</strong>
</div>
	
