<% @user ||= current_user %>
<!-- we will be showing this on both user show pages and home pages i think -->
<div class="stats">
	<a href="<%= following_user_path(@user) %>">
		<strong id="following" class="stat">
			<%= @user.following.count %>
		</strong>
		FOLLOWING
	</a>
	<a href="<%= followers_user_path(@user) %>">
		<strong id="followers" class="stat">
			<%= @user.followers.count %>
		</strong>
		FOLLOWERS
	</a>
</div>