<h1 class="bigtitle">Stories</h1>

<button class="toggle-search">Search: </button>
<div id="search" style="display:none">
	<%= render 'search_form' %>
</div>

<div class='main-panel'>
	<%= render @stories %>
</div>

 <!-- <p id="stories-count"> page_entries_info @stories %></p> -->
<div id="stories-pagination"><%= paginate @stories %></div>