<h1 class="bigtitle">Stories</h1>

<button class="toggle-search">Search: </button>
<div id="search" style="display:none">
	<%= render 'search_form' %>
</div>

<p id="stories-count"><%= page_entries_info @stories %></p>
	<div class="row">
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
			<%= render @stories %>
		</ul>
	</div>

 <!-- <p id="stories-count"> page_entries_info @stories %></p> -->
<div id="stories-pagination"><%= paginate @stories %></div>