<% if logged_in? %>
	<h1>Tell us your story!</h1>
	<%= render 'story_creation_form' %>

	<%= link_to 'Return to all stories', stories_path %>
<% else %>
	<div class="not-logged-in">
	<p>
	Hey! We'd love to hear your story! Please <%= link_to "log in", "/login" %>  or <%= link_to "create an account", "/users/new" %> so you can tell it to everybody!
	</p>
	</div>
<% end %>




<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
}
</script>
