<% if logged_in? %>
	<h1>Tell us your story!</h1>
	<%= render 'story_creation_form' %>

	<%= link_to 'Return to all stories', stories_path %>
<% else %>
	<div class="not-logged-in">
	<p>
	Hey! We'd love to hear your story! Please <%= link_to "log in", "/login" %>  or <%= link_to "create an account", "/users/new" %> so you can tell it to everybody!
	</p>
	</div>
<% end %>


<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbOWBVLGMzFWPviNHYf4f9HC7RBkfry4o">
</script>
<script >


var x = document.getElementById("demo");
var current_long = document.getElementById('story_longitude')
var current_lat = document.getElementById('story_latitude')
function getLocation() {
    x.innerHTML = "currently fetching your loctation from satellites, please be patient :)"
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
    current_long.value = position.coords.longitude;
    current_lat.value = position.coords.latitude;
};

</script>
