
// Place all the styles related to the base files here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #FFFFFF;
}

.submit {
	margin: auto;
	height: 100px;
	width: 250px;
	border-color: black;
}

.main-panel {
	width: 950px;
	margin: 0 auto;
	background-color: #eef3ff;
	border: 1px;
	border-style: solid;
	border-color: #435161;
	border-radius: 7px;
	padding: 30px;

}


.main-panel.author_name {
	text-color: #13401D
}
