// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clickable_image {
	display: none;
}

.clickable_image:first-of-type {
	display: inline;
}

.story {
	display: inline-block;
}


#map-canvas {
	height:150px;
    width:250px;
    display: inline-block;
}

#map-canvas img {
max-width: none;
}


.select2-input {
	width: 200px !important;
}

.row {
	text-align: center;
}


.title {
	margin: auto;
	border: 2px solid;
	border-color: black;
	background-color: black;
	max-width: 300px;
}

.front-cover {
	padding-top: 30px;
	width: 24vw;
	border: 2px solid gray;
	background-color: white;
	border-radius: 8px;
}