// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_page {
	display: none;
}

.user_page:first-of-type {
	display: inline;
}

.logo {
	padding-left: 40%;
}

.fullWidth {
	width: 100vw;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.container {
	overflow: auto;
}

.super-user {
	border-radius: 50%;
	border: 4px solid white;
	margin: 20px 20px 0 0;
}

.user-info {
	background-color: white;
	border: white;
	border-radius: 4px;
	width: 20%;
	height: 80vh;
	text-align: center;
	position: fixed;
}