// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_page {
	display: none;
}

.user_page:first-of-type {
	display: inline;
}

.user_story {
	display: inline-block;
}

.logo {
	padding-left: 40%;
}